
.about {
    position: relative;
}

.about_button {
    margin: 0px;
}

.about:before {
    content: "";
    display: block;
    width: 490px;
    height: 505px;
    position: absolute;
    z-index: 0;
    background: url("../../img/about/gates.png") center center / cover no-repeat;
    border-radius: 5px;
    bottom: 65px;
}

.about_desc {
    background: url("../../img/about/mount.png");
    width: 785px;
    height: 455px;
    padding: 156px 81px;
    z-index: 1;
    position: relative;
    margin-left: auto;
    background-size: cover;
    border-radius: 5px;
}

.about_desc span {
    display: block;
    margin-bottom: 43px;
}



.about_title {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin-bottom: 37px;
}

.about_desc {
    font-size: 16px;
    font-weight: 400;
    color: #060606;
    margin-bottom: 61px;
}
