.paginator {
    justify-content: center;
    display: flex;
    align-items: center;
}

.paginator_display,
.paginator_list,
.paginator_item {
    vertical-align: middle;
}

.paginator_display {
    margin-right: 26px;
    font-size: 16px;
    font-weight: 400;

}

.paginator {
    margin-bottom: 153px;
}

.paginator_link {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    position: relative;
    line-height: 21px;
}

.paginator_item--active .paginator_link {
    background: #fff;
    color: #F5170E;
    align-items: center;
}

paginator_item {
    vertical-align: middle;
    margin-right: 24px;
    text-align: center;
}

.paginator_list{
    display: flex;
    align-items: center;
}