.services_wrapper{
    background: url("./img/services/scover/headline.png") left top no-repeat ;
}
.services{
    min-width: 412px;
    display: flex;
    flex-direction: column;
    padding-bottom: 23px
}
.header{
    margin-bottom: 97px;
}
.services_title{
    font-weight: 700;
    font-size: 72px;
    line-height: 1;
    margin-bottom: 103px

}
.offers_title{
    font-weight: 700;
    font-size: 36px;
    color: #000;
    margin-bottom: 28px;
}
.offers_text{
    color: #303030;
    line-height: 1.7;
    margin-bottom: 34px;
}

.partners_title{
    font-weight: 700;
    font-size: 48px;
    color: #1A1B1E;
    margin-bottom: 99px;
}

.wrapper_partners{
    background: #F4F5F5;;
}

.offers_item{
    width: 557px;
    height: 395px;
    border-radius: 5px;
}
.services_container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.breadcrumbs_list{
    display: flex;
    align-items: center;
}
.breadcrumbs_item{
    display: flex;
    align-items: center;
}

.breadcrumbs_link{
    color:#9A9A9A ;
    font-size: 14px;
}

.breadcrumbs_item--active .breadcrumbs_link{
    font-weight: bold;
}

.breadcrumbs_item:after{
    content: "/";
    color: #9A9A9A;
}

.breadcrumbs_item:last-child:after{
    display: none;
}

.page-content {
    background: #fff

}
.offers_s{
    display: flex;
}
.offers_img{
    width: 65%;
    margin-right: 7%;
    margin-bottom: 49px;
    opacity: 100%;

}
.offers_content{
    flex: 1;
}

img{
    display: block;
    max-width: 100%;
}

.paginator{
    color: #000;
    margin-bottom: 90px;
}
.paginator_item--active .paginator_link{
    color: #fff;
background:#F5170E ;
}

.offers{
    padding: 98px;
    margin-bottom: 69px;
    
}
.inner_section{
    background: #F4F5F5;
    padding: 95px;
}

.partners_link{
    text-decoration: none;
    display: flex;
    width: 270px;
    height: 100px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.partners_link:hover{
    filter: grayscale(0%);
}




.partners_list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 117px;

}
.partners_item{
    margin-left: 10x;

}

.partners_item:nth-child(5){
    margin-left: 0;

}



.page-content_bk{
    background:#F2F2F2 ;
}

.reviews_list{
padding-top: 98px;
column-count: 2;
column-gap: 27px;
margin-bottom: 76px;
}

.reviews_item{
margin-bottom: 20px;
background: #F4F5F5;
display: inline-flex;
flex-direction: column;
padding: 50px 30px;

}

.avatar{
    width: 142px;
    height: 142px;
    overflow: hidden;
    border-radius: 50%
}
.review_header{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.review_user{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #2E77A4;
    margin-bottom: 3px;
}

.review_user:after{
    content: url("./img/review/vk-blue.png");
    height: 29px;
    padding-left: 12px
}

.review_tags{
    display: flex;
    align-items: flex-start;
}
.tag{
    font-size: 13px;
    font-weight: 400;
    color: #303030;
    padding:8px 16px;
    border-radius: 35px;
    background: #E7E7E7;
}

.tag_bg_green {
    background:#B9EAE4 ;
}

.review_title{
    font-size: 30px;
    font-weight: 700;
    color: #1A1B1E;
    margin-bottom: 13px;
    line-height: 42px
}

.review_content_text{
    color:#818181 ;
    margin-bottom: 49px;
}

.review_userdata{
    padding-left: 22px
}


.review_date{
    font-size: 14px;
    font-weight: 600;
    color: #1A1B1E;
}

.wrapper_reviews{
    background: #fff;
}
.footer-container{
    background:#001821
}

.separator{
    background: url("./img/review/middleline.png");

    min-height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.separator_content{
    
    display: flex;
    align-items: center;
}

.title_separator{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    width: 595px;
    height: 130px;
}
.separator_img{
width: 480px;
height: 310px;
}




.welcome{
    display: flex;
    position: absolute;
    top: 0px;
    left: 0;
     width: 100%;
height: 100%;
align-items: center;
justify-content: center;
background: url("/img/welcome/screen.png") center bottom/ cover no-repeat;
}


.central{
    display: flex;
    flex-direction: column;
align-items: center;
}
 .central{
    opacity: 0;
    animation: zoom_asia 1s;
    animation-fill-mode:forwards;
 }

 @keyframes zoom_asia {
from{
transform: scale(0.7);
}
20%{
    transform: scale(1.15);
}

40%{
    transform: scale(0.8);
}

60%{
    transform: scale(1.1);
}

80%{
    transform: scale(0.98);
}
to{
    opacity: 1;
    transform: scale(1);
}
 }

.title_welc{
    margin-bottom: 30px;
}

.button_welk{
    padding: 18px 57px;
    background: #F5170E;
    color: #fff;
}

.button_welk:hover{
    background: #DA0100;
}


.inner_section_title{
    font-weight: 700;
    font-size: 48px;
    color: #1A1B1E;
    margin-bottom: 57px;
}


.form_buttons{
    display: flex;
    justify-content: flex-end;
}

.form_row{

    display: flex;
    margin-bottom: 26px;
}
.form_input{
    flex: 1;
    margin-right: 30px;
    border-radius: 5px;
    border: none;
    background: #fff;
padding: 20px 30px;
color: #1A1B1E;
font-size:18px ;
font-weight: 400;
}

.form_input:last-child{
    margin-right: 0;
}

.form_input::placeholder{
    color: #666;
}

.form_input_textarea{
    height: 235px;

}

.form_controls{
    display: flex;
    margin-bottom: 32px;
}

.form_controls_title{
    font-weight: 400;
    font-size: 18px;
    color:#1A1B1E ;
    width: 40%;
}

.controls_list{
flex: 1;
display: flex;
flex-wrap:wrap ;
}

.controls{
    cursor: pointer;
}

.controls_checkbox:checked ~ .controls_tag{
background:#B9EAE4; ;
}

.controls_checkbox{
    display: none;
}
.controls_item{
    margin-right: 10px;
    margin-bottom: 10px;
    
}

.controls_tag{
    height: 37px;
}
   
.bcolor_grey_button{
    background:#8E8E8E;
    color: #fff;
    border-color:#8E8E8E ;
    margin-right: 32px;
}

.bcolor_grey_button:hover{
    background: #2B2B2B;
    background-color: #2B2B2B;
}
.bcolor_red_button{
    background:#F5170E ;
    color: #fff;
}
