body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    background: #001821;
    font-size: 16px;
    line-height: 21px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

*{
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1150px;
}

.header {
    height: 123px;
    position: relative;
    margin-bottom: 100px;
}

.logo {
    display: block;
    position: absolute;
    top: 58px;
    left: 0;
}

.menu {
    position: absolute;
    top: 75px;
    left: 538px;

}

.menu_item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 54px;
}


.menu_item:last-child{
    margin:0;
}


.menu_link {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}

.menu_link:hover{
    color: #DA0100
}

.contacts {
    top: 68px;
    right: 380px;
    position: absolute;
    font-style: normal;
    text-align: right;
}

.contacts_number {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts_dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color:#1E1F20 ;
}

.preview_title {
width: 511;
}

.preview_title {
    font-size: 72px;
    font-weight: 700;
    line-height: 99px;
    width: 511;
    margin-bottom: 14px;
    height: 197;
}

.preview_description {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20;
}

.preview_button,.about_button {
    display: block;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size:14px;
    margin-bottom: 200px;
}




.section {
    margin-bottom: 127;
}

.tours_title{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 51px;    
}
.tours{
    position: ;
}
.tours_item{
    min-height: 549;
    display: inline-block;
    margin-right: 27px;
    background: #fff;
    border-radius: 5px;
    width: 362px;
    position: relative;
    vertical-align: bottom;
    margin-bottom: 127px;
}
.tours_item:last-child{
    margin-right: 0px;
}

.tours_img{
    min-height: 144px;
    margin-bottom: 33px;
    display: inline-block;
} 

.tour_button {
    display: block;
    background: #fff; 
    border-radius: 35px;
    border-color:#F5170E ;
    border-width: 1px;
    border-style: solid;
     padding: 18px 30px ;
     color: #F5170E;
font-weight: 700;
text-decoration: none;
text-transform: uppercase;
font-size: 14px;;
}

.tour_button:hover{
    background: #F5170E;
    color: #fff;
}

.tours_subtitle {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 21px;
}

.tours_content {
    padding-left:22px;
}
.text_tour{
 padding:36 30 ;
  font-size: 14px;
  font-weight: 400;  
  color: #303030 ;
}
.conditions_right-text,.conditions_left-text {
    color:#666666 ;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 23px;
    width: 130px;
}

.tours_img-icon {
   width: 362px;
   height: 144px;
   display: inline-block;
   object-fit: cover;
object-position: center;
}

.news_title{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 51px;
}
.news_item{
width: 557px;
height:395px;
display: inline-block;
vertical-align: top;
position: relative;
border-radius: 5px;
}

.cover {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
overflow: hidden;
opacity: 40%;
}

.news_content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
    min-height: 140px;
}
.news_date-month{
    font-size: 14px; 
    font-weight: 400;
    margin-bottom: 13px;
}
.news_date-year{
    font-size: 14px; 
    font-weight: 400;
    margin-bottom: 13px;
}
.news_subtitle{
    font-size:24px;
    font-weight: 700;
    margin-bottom: 2px;
}
.text{
    font-size:16px ;
    font-weight: 400;
    color: #fff;

}
.news_list {
    margin-bottom: 58px;;
}

.paginator{
    text-align: center;
}
.paginator_display,.paginator_list,.paginator_item{
    display: inline-block;
    vertical-align: middle;
}

.paginator_display{
    margin-right:26px ;
    font-size:16px;
    font-weight: 400;
    
}
.paginator{
    margin-bottom: 153px;
}

.paginator_link{
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    display: block;
    width: 10px;
    height: 21px;
    border-radius: 50%;
    position: relative;
    line-height: 21px;
}
.paginator_item--active .paginator_link{
    background: #fff;
    color: #F5170E;
}
paginator_item{
display: inline-block; 
vertical-align: middle;
margin-right: 24px;
}

.about {
   position: relative; 
}

.about_button {
    margin: 0px;
}

.about:before{
    content: "";
    display: block;
    width: 490px;
    height: 505px;
    position: absolute;
    z-index: 0;
    background: url("./img/about/gates.png") center center / cover no-repeat;
    border-radius: 5px;
    bottom: 65px;
}
.about_desc{
    background: url(./img/about/mount.png);
    width: 785px;
    height: 455px;
    padding: 156px 81px;
    z-index: 1;
    position: relative;
    margin-left: auto;
    background-size: cover;
    border-radius: 5px;
}

.about_desc span{
display: block;
margin-bottom: 43px;
}



.about_title{
font-size: 36px;
font-weight: 700;
color: #000;
margin-bottom: 37px;
}
.about_desc{
    font-size:16px;
    font-weight: 400;
    color:#060606 ;
    margin-bottom: 61px;
}

.tours_conditions-left,.tours_conditions-right{
    display: inline-block;
    width: 49%;
}