.socials_link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    opacity: 0.6;
    transition: 0.5s;
}

.socials_item {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    opacity: 1;
}

.socials-item_telegram .socials_link{
    background-image: url("/img/socials/t.png");
}

.socials-item_telegram:hover .socials_link{
    background-image: url("/img/socials/t.png");
    opacity: 1;
}


.socials-item_vk .socials_link{
    background-image: url("/img/socials/vk.png");
}

.socials-item_vk:hover .socials_link{
    background-image: url("/img/socials/vk.png");
    opacity: 1;
}

.socials-item_facebook .socials_link{
    background-image: url("/img/socials/f.png");

}

.socials-item_facebook:hover .socials_link{
    background-image: url("/img/socials/f.png");
    opacity: 1;
}

.socials-item_inst .socials_link{
    background-image: url("/img/socials/in.png");
}

.socials-item_inst:hover .socials_link{
    background-image: url("/img/socials/in.png");
    opacity: 1;
}

.socials_item:last-child {
    margin-right: 0;
}

.socials {
    margin-right: 74px;
    position: absolute;
}

.socials_list {
    bottom: 14px;
    left: 654px;
    position: relative;
 cursor: pointer;
}