.logo,
.logo_img {
    display: block;
    width: 85px;
    height: 36px;
    margin-right: 79px;
}

logo_img_down {
    color: #FFFFFF;
}

.logo_img_dowm {
    display: block;
    right: 0px;
    margin-right: 79px;
    width: 85px;
    height: 36px;
    top: 45px;
    position: relative;
}
