.socials_link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.socials_item {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.socials_item:last-child {
    margin-right: 0;
}

.socials {
    margin-right: 74px;
    position: absolute;
}

.socials_list {
    bottom: 14px;
    left: 654px;
    position: relative;
}